@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #F0F2F5;
}

section {
    margin: auto;
    margin-top: 120px;
    background-color: #FFFFFF;
    height: 375px;
    width: 400px;
    border: 1px solid #dddfe2;;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 10%), 2px 4px 10px rgba(0, 0, 0, 0.233);
}

#email {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 364px;
    height: 52px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
}

#email:hover {
    border: 1px solid #166FE5;
    transition: 0.5s;
}

#senha {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 364px;
    height: 52px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
}

#senha:hover {
    border: 1px solid #166FE5;
    transition: 0.5s;
}

a {
    text-decoration: none;
}

#entrar {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    background-color: #166FE5;
    color: white;
    width: 364px;
    padding-top: 14px;
    padding-bottom: 14px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-weight: bold;
    font-size: 20px;
}

#entrar:hover {
    background-color: #0e69df;
    transition: 0.5s;
}

#esqueceu {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #1877f2;
}

#esqueceu:hover {
    text-decoration: underline;
}

#linha {
    margin: auto;
    margin-top: 20px;
    width: 364px;
    height: 1px;
    background-color: #dddfe2;
}

#criar {
    display: block;
    margin: auto;
    margin-top: 25px;
    padding-top: 15.5px;
    padding-bottom: 15.5px;
    border-radius: 6px;
    text-align: center;
    background-color: #36A420;
    color: white;
    font-size: 17px;
    font-weight: bold;
    width: 166.16px;
}

#criar:hover {
    background-color: #2d9619;
    transition: 0.5s;
}

